
<div class="car-control">
    <button mat-icon-button id="left-btn" (click)="sendCommand('l')">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button id="right-btn" (click)="sendCommand('r')">
        <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-icon-button id="forward-btn" (click)="sendCommand('f')">
        <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-icon-button id="back-btn" (click)="sendCommand('b')">
        <mat-icon>arrow_downward</mat-icon>
    </button>
</div>
